syntax: glob
*~
*.swp
*.orig
*/_minted-presentation/*
*.aux
*.log
*.nav
*.out
*.pdf
*.snm
*.toc
*.vrb
image_builder/*
*.mw
*.pyg
cyber-dojo
.vs
*.ncrunchsolution.user
.mypy_cache
*@neomake_*
*.obj
*.tlog
code/Coro/Debug
code/Debug
code/build/
*.mintedcmd
code_on_presentation/build/
code/build2/
presentation/svg-inkscape/*
